* {
  box-sizing: border-box;
  font-family: 'Heebo';
  margin: 0;
}

.search-and-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBar {
  border: 1px solid #c4c4c4;
  height: 2.5rem;
  max-width: 400px;
  width: 90vw;
  border-radius: 100px;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

#filterButton {
  width: 100px;
  height: 2rem;
  background-color: #D9042B;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 1rem;
  margin: 1rem auto;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.search-results h3 {
  text-align: center;
  width: 70vw;
}

.card {
  flex-basis: 44%;
  box-shadow: 0 0 5px 0 #C4C4C4;
  margin: 0.5rem;
}

.card-image {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.card h4 {
  text-align: center;
  margin: 0.5rem;
}

.top-nav {
  border-bottom: 1px solid #c4c4c4;
  width: 100vw;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 0.5rem;
}

.top-nav img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.bottom-nav {
  background-color: #D9042B;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

i {
  color: white;
}

.filter-header {
  border-bottom: 1px solid #d0d0d0;
  padding: 0.5rem;
}

.filter-header h2 {
  font-size: 1.7rem;
}

.accordion-container {
  padding: 0.5rem;
}

.accordion-text {
  text-transform: uppercase;
}

.filter-button {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  margin: 0.4rem;
  font-size: 0.9rem;
}

.checked {
  border: none;
  background-color: #D9042B;
  color: white;
}

.unchecked {
  background-color: white;
  border: 1px solid #CDC9CF;
  color: #CDC9CF;
}

.results-display {
  text-align: center;
}

.button-group {
  margin: 1rem auto;
  text-align: center;
}

.reset {
  padding: 0.5rem 1.5rem;
  border: 2px solid #09030D;
  background-color: white;
  color: #09030D;
}

.submit {
  padding: 0.5rem 1.5rem;
  border: 2px solid #D9042B;
  background-color: white;
  color: #D9042B;
}
