* {
  box-sizing: border-box;
  font-family: 'Heebo';
  margin: 0;
}

::-webkit-scrollbar {
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #f3f3f3;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6d6d6;
}

.page-toggles i,
.card,
.sign-up,
.filter-button,
.musical-questionaire-card,
.unboxed,
.add-collection,
.fas.fa-heart,
.play-music,
#filterButton,
.bottom-nav i,
.collection-card-container,
.update-delete-modal-button,
.update-delete-modal-choice {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: 'Signika';
  margin-bottom: 0.8rem;
}

.main-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-and-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-rounded {
  border: 1px solid #c4c4c4;
  height: 2.5rem;
  max-width: 400px;
  width: 90vw;
  border-radius: 100px;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.add-collection-input {
  border: 1px solid #c4c4c4;
  height: 2.5rem;
  width: 80%;
  border-radius: 100px;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-container h5 {
  font-weight: 400;
}

.sign-in-container img {
  width: 150px;
  fill: #D9042B;
}

.sign-in-container button {
  margin-top: 1rem;
}

.questionaire-container {
  height: 100vh;
  width: 100vw;
}

.questionaire-initial {
  height: calc(100vh - 0.5rem);
  width: 100vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionaire-initial p {
  width: 80%;
}

.questionaire-initial button {
  margin-top: 0.75rem;
}

.percent-complete {
  width: 100vw;
  height: 0.5rem;
  background-color: #dbdbdb;
}

.complete-bar {
  height: 0.5rem;
  background-color: #D9042B;
  position: absolute;
  top: 0;
  left: 0;
}

.twenty {
  width: 20vw;
}

.forty {
  width: 40vw;
}

.sixty {
  width: 60vw;
}

.eighty {
  width: 80vw;
}

.hundred {
  width: 100vw;
}

.inner-questionaire {
  margin: 1rem auto;
  max-width: 1200px;
}

.inner-questionaire h1 {
  font-size: 1.75rem;
  margin-left: 1rem;
}

.page-toggles {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 2rem 1rem;
}

.align-right {
  justify-content: flex-end;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(102, 179, 204, 0.5);
}

.musical-questionaire-card {
  flex-basis: 26vw;
  height: 26vw;
  max-height: 200px;
  max-width: 200px;
  box-shadow: 0 0 5px 0 #C4C4C4;
  margin: 0.5rem;
}

.musical-questionaire-card.overlay {
  background: rgb(102, 179, 204);
}

.musical-questionaire-card img {
  width: 100%;
}

.musical-questionaire-card.overlay img {
  opacity: 0.4;
}

.medium {
  font-weight: 400;
}

.big-check {
  color: #D9042B;
  font-size: 10rem;
  margin: 1rem;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommendation-image {
  width: 75vw;
  max-width: 300px;
  margin-bottom: 1rem;
}

.big-icon-group {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faded-like {
  color: rgba(217, 4, 43, 0.5);
  font-size: 4rem;
}

.faded-like:hover {
  color: #D9042B;
}

.faded-dislike {
  color: rgba(9, 3, 13, 0.5);
  font-size: 5rem;
}

.faded-dislike:hover {
  color: #09030D;
}

.faded-text {
  color: #9A949E;
}

#filterButton {
  width: 100px;
  height: 2rem;
  background-color: #D9042B;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 1rem;
  margin: 1rem auto;
}

.boxed-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.search-results {
  display: flex;
  justify-content: center;
}

.search-results h3 {
  text-align: center;
  width: 70vw;
}

.card {
  flex-basis: 44%;
  max-width: 300px;
  box-shadow: 0 0 5px 0 #C4C4C4;
  margin: 0.5rem;
}

.search {
  max-width: 1200px;
  margin: 0 auto;
}

.search .card {
  max-width: 200px;
  padding-bottom: 0.25rem;
}

.card-image {
  width: 100%;
  max-height: 205px;
}

.card-image img {
  width: 100%;
}

iframe {
  width:90%;
  max-width:660px;
  overflow:hidden;
  background:transparent;
  margin-top: 1.25rem;
}

.unboxed {
  width: 150px;
  margin: 0.5rem;
  border-bottom: none;
}

.related {
  margin: 1.25rem 0 0 0.5rem;
}

.scroll-bar {
  width: 100vw;
  display: flex;
  overflow-x: auto;
}

.musical-details-container .scroll-bar {
  max-width: 1200px;
}

.card h4 {
  text-align: center;
  margin: 0.5rem;
}

.bottom-nav {
  background-color: #D9042B;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  z-index: 100;
}

.bottom-nav i {
  color: white;
}

.filter-header {
  border-bottom: 1px solid #d0d0d0;
  padding: 0.5rem;
}

.filter-header h2 {
  font-size: 1.7rem;
}

.accordion-container {
  padding: 0.5rem;
}

.accordion-text {
  text-transform: uppercase;
}

.filter-button {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  margin: 0.4rem;
  font-size: 0.9rem;
}

.checked,
.add-to-collection-button {
  border: none;
  background-color: #D9042B;
  color: white;
}

.unchecked {
  background-color: white;
  border: 1px solid #CDC9CF;
  color: #CDC9CF;
}

.results-display {
  text-align: center;
}

.button-group {
  margin: 1rem auto;
  text-align: center;
}

.button-group.collection {
  margin-bottom: 0;
}

.reset {
  padding: 0.5rem 1.5rem;
  border: 2px solid #09030D;
  background-color: white;
  color: #09030D;
}

.reset:hover {
  background-color: #09030D;
  color: white;
}

.submit {
  padding: 0.5rem 1.5rem;
  border: 2px solid #D9042B;
  background-color: white;
  color: #D9042B;
}

.submit:hover {
  background-color: #D9042B;
  color: white;
}

.info-container {
  padding: 1rem 1rem 0 1rem;
}

.info-container h2 {
  margin-bottom: 0.25rem;
}

.info-container img {
  width: 100%;
  margin: 0 auto;
}

.add-collection {
  display: flex;
  align-items: center;
  color: #9A949E;
  margin-bottom: 0.75rem;
}

.add-collection:hover {
  color: #77717a;
}

.add-collection h5 {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.icon-group {
  margin: 0.75rem 0;
}

.icon-group i {
  color: #9A949E;
  font-size: 1.75rem;
  margin-right: 0.5rem;
}

.icon-group .like {
  color: #D9042B;
}

.icon-group .dislike {
  color: #09030D;
}

.plot {
  margin: 0 1rem;
}

.play-music {
  border-radius: 100px;
  background-color: #09030D;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.3rem 2rem;
  border: none;
  margin-top: 1rem;
}

.play-music:hover {
  background-color: #281d30;
}

.music-button-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up {
  width: 40vw;
  max-width: 200px;
}

.card-box {
  height: 158px;
}

.collections-container {
  margin: 1.5rem
}

.collections-container h1 {
  margin-bottom: 1.25rem;
}

.collection-card-container {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.rounded-image {
  border-radius: 0.25rem
}

.collection-image {
  width: 80px;
  height: 80px;
}

.collection-item-image {
  width: 100px;
  height: 100px;
}

.collection-item-paragraph {
  margin-bottom: 0.5rem;
}

.collection-card-text {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pointer-icon {
  margin-right: 0.5rem;
}

.musical-details-container {
  max-width: 1200px;
  margin: 0 auto;
}

.musical-details-container,
.collections-container,
.home-container {
  margin-bottom: 50px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  z-index: 3;
}

.modal-overlay.button-modal {
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.button-modal-content {
  max-width: 300px;
  padding: 1.25rem 2rem;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}

.modal-background {
  background-color: white;
  position: relative;
  width: 100%;
  height: 70%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: scroll;
  padding: 0.75rem;
}

.modal-background h3 {
  text-align: center;
  margin: 0.75rem 0;
}

.modal-background button {
  margin-bottom: 2rem;
}

#closeModalButton {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

.center {
  text-align: center;
}

.no-items {
  margin-bottom: 1.25rem;
}

.update-delete-modal-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  position: relative;
}

.update-delete-modal {
  position: absolute;
  top: 6px;
  right: 16px;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
  width: 150px;
  padding: 0.5rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.twenty-five {
  height: 25%;
  padding: 2rem;
}

.update-delete-modal-choice {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.update-delete-modal-choice i {
  margin-right: 0.5rem;
}

.suggestion-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2.5rem;
}

.suggestion-container p {
  font-size: 0.75rem;
  margin: 1rem;
}

.success-message {
  border: 1px solid #338099;
  background-color: rgba(102, 179, 204, 0.5);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.success-message p {
  font-size: 0.8rem;
}

.collection-card-container .collection-card-text h3 {
  text-align: left;
}

.questionaire-container .card img {
  overflow: hidden;
}

.suggestion-container form {
  display: flex;
  flex-direction: column;
}

.fail-message {
  border: 1px solid #D9042B;
  background-color: rgba(217, 4, 43, 0.5);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.top-nav {
  display: none;
}

.top-nav-container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  height: 2.5rem;
  margin-right: 0.5rem
}

.brand h3 {
  font-size: 1.5rem;
}

.top-nav h3 {
  margin-bottom: 0;
  margin-right: 2rem;
}

.nav-options {
  margin-top: 0.3rem;
}

.error-message-container {
  margin: 100px auto;
  text-align: center;
}

.error-message-container h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.error-message-container p {
  font-size: 1.25rem;
}

.error-message-container img {
  max-width: 85vw;
  max-height: 300px;
  width: auto;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 550px) {
  .info-container {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .info-container img {
    margin: 0;
    margin-right: 1rem;
    width: 40vw;
    max-width: 300px;
  }

  .info-container h2,
  .info-container h5,
  .info-container i {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .info-container h2 {
    font-size: 2rem;
  }

  .info-container h5 {
    font-size: 1.1rem;
  }

  .icon-group i {
    font-size: 2rem;
  }

  h3.related {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .top-nav {
    display: block;
    border-bottom: 1px solid #ebebeb;
  }

  .bottom-nav {
    display: none;
  }
}
