* {
  box-sizing: border-box;
  font-family: 'Heebo';
  margin: 0;
}

.logo {
  font-family: 'Signika';
  margin-bottom: 1rem;
}

.main-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-and-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-rounded {
  border: 1px solid #c4c4c4;
  height: 2.5rem;
  max-width: 400px;
  width: 90vw;
  border-radius: 100px;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-container h5 {
  font-weight: 400;
}

.sign-in-container img {
  width: 150px;
  fill: #D9042B;
}

.sign-in-container button {
  margin-top: 1rem;
}

.questionaire-container {
  height: 100vh;
  width: 100vw;
}

.questionaire-initial {
  height: calc(100vh - 0.5rem);
  width: 100vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionaire-initial p {
  width: 80%;
}

.questionaire-initial button {
  margin-top: 0.75rem;
}

.percent-complete {
  width: 100vw;
  height: 0.5rem;
  background-color: #dbdbdb;
}

.complete-bar {
  height: 0.5rem;
  background-color: #D9042B;
  position: absolute;
  top: 0;
  left: 0;
}

.twenty {
  width: 20vw;
}

.forty {
  width: 40vw;
}

.sixty {
  width: 60vw;
}

.eighty {
  width: 80vw;
}

.hundred {
  width: 100vw;
}

.inner-questionaire {
  margin: 1rem;
}

.inner-questionaire h1 {
  font-size: 1.75rem;
}

.page-toggles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.align-right {
  justify-content: flex-end;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(102, 179, 204, 0.5);
}

.musical-questionaire-card {
  flex-basis: 96px;
  height: 96px;
  box-shadow: 0 0 5px 0 #C4C4C4;
  margin: 0.5rem;
}

.musical-questionaire-card.overlay {
  background: rgb(102, 179, 204);
}

.musical-questionaire-card img {
  width: 100%;
}

.musical-questionaire-card.overlay img {
  opacity: 0.4;
}

.medium {
  font-weight: 400;
}

.big-check {
  color: #D9042B;
  font-size: 10rem;
  margin: 1rem;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommendation-image {
  width: 75vw;
  max-width: 300px;
  margin-bottom: 1rem;
}

.big-icon-group {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faded-like {
  color: rgba(217, 4, 43, 0.5);
  font-size: 4rem;
  margin-left: 2rem;
}

.faded-like:hover {
  color: #D9042B;
}

.faded-dislike {
  color: rgba(9, 3, 13, 0.5);
  font-size: 5rem;
}

.faded-dislike:hover {
  color: #09030D;
}

.faded-text {
  color: #9A949E;
}

.faded-text:hover {
  color: black;
}

#filterButton {
  width: 100px;
  height: 2rem;
  background-color: #D9042B;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 1rem;
  margin: 1rem auto;
}

.boxed-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.search-results {
  display: flex;
  justify-content: center;
}

.search-results h3 {
  text-align: center;
  width: 70vw;
}

.card {
  flex-basis: 44%;
  box-shadow: 0 0 5px 0 #C4C4C4;
  margin: 0.5rem;
}

.card-image {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.unboxed {
  width: 150px;
  margin: 0.5rem;
  border-bottom: none;
}

.related {
  margin: 1.25rem
}

.scroll-bar {
  width: 100vw;
  display: flex;
  overflow-x: auto;
  margin-bottom: 50px;
}

.card h4 {
  text-align: center;
  margin: 0.5rem;
}

.top-nav {
  border-bottom: 1px solid #c4c4c4;
  width: 100vw;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 0.5rem;
}

.top-nav img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.bottom-nav {
  background-color: #D9042B;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.bottom-nav i {
  color: white;
}

.filter-header {
  border-bottom: 1px solid #d0d0d0;
  padding: 0.5rem;
}

.filter-header h2 {
  font-size: 1.7rem;
}

.accordion-container {
  padding: 0.5rem;
}

.accordion-text {
  text-transform: uppercase;
}

.filter-button {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  margin: 0.4rem;
  font-size: 0.9rem;
}

.checked {
  border: none;
  background-color: #D9042B;
  color: white;
}

.unchecked {
  background-color: white;
  border: 1px solid #CDC9CF;
  color: #CDC9CF;
}

.results-display {
  text-align: center;
}

.button-group {
  margin: 1rem auto;
  text-align: center;
}

.reset {
  padding: 0.5rem 1.5rem;
  border: 2px solid #09030D;
  background-color: white;
  color: #09030D;
}

.reset:hover {
  background-color: #09030D;
  color: white;
}

.submit {
  padding: 0.5rem 1.5rem;
  border: 2px solid #D9042B;
  background-color: white;
  color: #D9042B;
}

.submit:hover {
  background-color: #D9042B;
  color: white;
}

.info-container {
  padding: 1rem;
}

.info-container h2 {
  margin-bottom: 0.25rem;
}

.info-container img {
  width: 100%
}

.add-collection {
  display: flex;
  align-items: center;
  color: #9A949E;
  margin-bottom: 0.75rem;
}

.add-collection h5 {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.icon-group {
  margin: 0.75rem 0;
}

.icon-group i {
  color: #9A949E;
  font-size: 1.75rem;
  margin-right: 0.5rem;
}

.icon-group .like {
  color: #D9042B;
}

.icon-group .dislike {
  color: #09030D;
}

.play-music {
  border-radius: 100px;
  background-color: #09030D;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.3rem 2rem;
  border: none;
}

.music-button-container {
  text-align: center;
}

.sign-up {
  width: 40vw;
}
